@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background: $color-light;
  overflow: hidden;

  @include xl-2 {
    border-radius: 7px;
    box-shadow: $box-shadow;
    margin-top: $gutter * 5;
    margin-bottom: $gutter * 5;
  }
}

.padding-x {
  width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;
}
