$color-primary: #eb2f64;
$color-primary-light: #ff3366;
$color-primary-dark: #ba265d;

$color-grey: #777;
$color-grey-dark: #333;
$color-grey-light: #e4e4e4;
$color-light: #fff;

$gutter: 1.6rem;

$box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.4);
