@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;

  &__detail {
    background: $color-grey-light;
    padding: $gutter;

    display: flex;
    flex-direction: column;
    gap: $gutter;
  }

  &__description {
    background: $color-light;
    padding: $gutter;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
  }

  &__introduction {
  }

  &__description-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
  }

  &__description-item {
    flex: 50%;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  &__item-icon {
    fill: $color-primary;
    width: 14px;
    height: 14px;
  }

  &__item-text {
    font-size: 1.4rem;
  }

  &__recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__recommend-people {
    display: flex;
  }

  &__recommend-text {
    text-align: center;
  }

  &__recommend-person {
    width: 45px;
    height: 45px;
    border: 3px solid $color-grey-light;
    border-radius: 100%;
    overflow: hidden;

    &:not(:first-child) {
      margin-left: -1.6rem;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    gap: $gutter;
  }

  &__review {
    background: $color-light;
    padding: $gutter;
    border-radius: 7px;

    display: flex;
    flex-direction: column;
    gap: $gutter;
    position: relative;

    &::before {
      content: "\201C";
      position: absolute;
      top: -3px;
      left: -6px;
      font-size: 17rem;
      font-family: sans-serif;
      line-height: 0.8;
      color: $color-grey-light;
    }
  }

  &__review-text {
    z-index: 1;
  }

  &__review-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__review-person {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__review-img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  &__review-info {
    display: flex;
    flex-direction: column;
  }

  &__review-name {
    font-weight: 600;
    text-transform: uppercase;
  }

  &__review-date {
    line-height: 1;
    font-weight: 300;
  }

  &__review-mark {
    font-size: 2rem;
    color: $color-primary;
    font-weight: 500;
  }

  &__review-link {
    align-self: center;
  }

  @include xs-2 {
    &__description-item {
      flex: 100%;
    }

    &__item-text {
      font-size: 1.6rem;
    }
  }

  @include xs-4 {
    &__item-text {
      font-size: 1.4rem;
    }
  }

  @include sm {
    &__description {
      font-size: 1.8rem;
    }

    &__item-text {
      font-size: 1.8rem;
    }

    &__recommend {
      flex-direction: row;
      gap: 2rem;
    }
  }

  @include md {
    &__detail {
      flex-direction: row;
    }

    &__item-text {
      font-size: 1.4rem;
    }

    &__recommend {
      justify-content: space-between;
    }

    &__recommend-text {
      text-align: left;
      font-size: 1.6rem;
    }

    &__reviews {
      flex: 0 0 35%;
    }

    &__review-name {
      font-size: 1.4rem;
    }

    &__review-date {
      font-size: 1.2rem;
    }
  }

  &__footer {
    background: $color-light;
    background: darken($color-light, 3%);
    padding: ($gutter * 2) $gutter;
    border-top: 1px solid darken($color-grey-light, 5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gutter;

    &-heading {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 300;
      text-align: center;
    }

    &-btn {
      align-self: center;
    }
  }

  @include lg {
    &__item-text {
      font-size: 1.8rem;
    }
  }

  @include xl {
    &__recommend-text {
      font-size: 1.8rem;
    }
  }
}
